# build
# build/*
# build/CMakeFiles
# build/CMakeFiles/*
# build/Testing
# build/Testing/*
# build/cmake_install.cmake
# build/CMakeCache.txt
# build/CPackConfig.cmake
# build/CPackSourceConfig.cmake
# build/CTestTestfile.cmake
# build/DartConfiguration.tcl
# build/Makefile
# build/engine

# .vscode
# .vscode/*
